@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-logo-blue: #1FB8D4;
  --color-logo-magenta: #D946EF;
}

body {
  @apply antialiased;
}
